/* src/app/header/header.component.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #071a2e;
    color: #fff;
  }
  
  .logo a {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
  }
  
  .nav-options a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  
  .nav-options a:hover {
    text-decoration: none;
  }
   