.checkout h1{
    text-align:center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #071a2e;
}
.checkout h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #071a2e;
}

