/* You can add global styles to this file, and also import other style files */
.invalid-input{
    color: red;
    font-size: 12px;
    margin-top: -20px;
}
.common-form{
    text-align: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
}
.form-input{
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: 1px solid #071a2e;
    color: #071a2e;
}
.form-button{
    height: 35px;
    border: 1px solid #071a2e;
    cursor: pointer;
    color: white;
    background-color: #071a2e;
}
